.CandidatesPage__paper {
  width: var(--col-10_width);
  max-width: 100%;
  margin: 0 auto;
  padding: 46px 32px 40px;
}

.CandidatesPage__wrapperRow{
    width: 100%;
    height: 70px;
    border-bottom: 1px solid var(--greyLight3);
}

.CandidatesPage__none{
    width: 1%;
    height: 100%;
    background-color: var(--greyLight3);
    float: left;
}

.CandidatesPage__internal{
    width: 1%;
    height: 100%;
    background-color: var(--primary);
    float: left;
}

.CandidatesPage__external{
    width: 1%;
    height: 100%;
    background-color: var(--blue);
    float: left;
}

.CandidatesPage__clear{
    clear: both;
}

.CandidatesPage__info{
    width: 30%;
    height: 100%;
    float: left;
    padding-left: 20px;
}

.CandidatesPage__seniority{
    text-transform: uppercase;
    width: 25%;
    height: 100%;
    float: left;
}

.CandidatesPage__job{
    text-transform: uppercase;
    width: 25%;
    height: 100%;
    float: left;
    word-wrap: break-word;
}

.CandidatesPage__utils{
    width: 18%;
    padding-top: 11px;
    float: right;
    text-align: right;
}

.CandidatesPage__wrapperList{
    margin-top: 50px;
}

.CandidatesPage__name{
    color: var(--greyDark1)
}

.CandidatesPage__role{
    color: var(--greyLight1)
}

.CandidatesPage__top{
    margin-top: 20px;
}
