.Toolbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
}

.Toolbar--no-shadow {
  box-shadow: 0 0 0 !important;
}

.Toolbar__logo {
  height: 60px;
}

.Toolbar__logo--mobile {
  display: none;
}

@media (max-width: 768px) {
  .Toolbar__logo--desktop {
    display: none;
  }

  .Toolbar__logo--mobile {
    display: block;
  }
}

.Toolbar__right-icons {
  margin-right: 16px;
  padding-top: 4px;
}

.Toolbar__right-icons > a {
  margin-left: 8px;
}

.Toolbar__right-icons > div:first-of-type {
  margin-left: 0px;
}

.Toolbar__Avatar-crop {
  object-fit: contain;
  color: rgb(255, 255, 255);
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  font-size: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  fill: rgb(255, 255, 255);
}

.Toolbar__Avatar {
  transition: background-color 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.Toolbar__Avatar:hover {
  background-color: var(--white) !important;
}
