.Autocomplete > div {
  width: 100%;
}

.Autocomplete__input-wrapper {}

.Autocomplete__items {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: var(--z-top-3);
}

.Autocomplete__item {
  padding: 8px;
}
