// to remove

.col {
    border:0px solid rgba(0,0,0,0);
    border-left-width:30px;
    padding:0 0px;
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

.row { margin-left:-30px; }

.col_1 { width:8.33333333333%; }
.col_2 { width:16.6666666667%; }
.col_3 { width:25.0% }
.col_4 { width:33.3333333333%; }
.col_5 { width:41.6666666667%; }
.col_6 { width:50.0%; }
.col_7 { width:58.3333333333%; }
.col_8 { width:66.6666666667%; }
.col_9 { width:75.0%; }
.col_10 { width:83.3333333333%; }
.col_11 { width:91.6666666667%; }
.col_12 {
  margin-left:0;
  width:100%;
}

.center {
  margin: 0 auto;
}

.page {
  max-width: 1170px;
  margin: 0 auto;
}
