.ImageInput__image-wrapper {
  position: relative;
}

.ImageInput__image-wrapper .InputField  > div {
  cursor: auto !important;
}

.ImageInput__image-wrapper .InputField  > div textarea {
  color: var(--petrol) !important;
}

.ImageInput__image-input {
  position: absolute;
  width: 100%;
}

.ImageInput__image__label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 34px;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.ImageInput__image__label__icon {
  color: var(--primary) !important;
  float: right;
}
