html,
body,
.root,
.container {
  height: 100%;
}

.content {
  min-height: calc(100% - 64px);
}

.content--vertical-centered {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

ul, li {
  margin: 0;
  padding: 0;
}

.Toolbar + .page {
  padding-top: 64px;
}

.page {
  width: 1170px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .page {
    max-width: calc(100% - 16px);
  }
}

.page--align-top {
  /*min-height: calc(100vh - 256px);*/
  min-height: calc(100vh - 192px);
}

.PreWrap{
  white-space: pre-wrap;
}

.Toolbar + .page--align-top {
  /*padding-top: 124px;*/
  padding-top: 128px;
}

.page h1 {
  margin-bottom: 11px;
  text-align: center;
}

.page__head {
  width: var(--col-6_width);
  max-width: 100%;
  margin: 0 auto;
  padding-top: 68px;
  text-align: center;
}

.page__body {
  margin: 37px auto 0;
  padding: 0px 16px;
}

@media (max-width: 768px) {
  .page__body {
    padding: 0px;
  }
}

.pageWithTabs {
  padding-top: 170px;
}

.pageWithTabs .tabs-wrapper {
  position: fixed;
  top: 64px;
  width: 100%;
  z-index: var(--z-ground-2);
}

@media (max-width: 768px) {
  .pageWithTabs .tabs-wrapper {
    width: 100vw;
    overflow-x: scroll;
  }
}

.pageWithTabs .tabs-wrapper .tabs {
  /*position: fixed;*/
  width: 100%;
  /*top: 64px;*/
  background-color: var(--petrol);
  z-index: var(--z-ground-2);
}

@media (max-width: 570px) {
  .pageWithTabs .tabs-wrapper .tabs {
    width: var(--col-6_width);
  }
}

.pageWithTabs .tabs-wrapper .tabs > div {
  max-width: var(--col-6_width);
  margin: 0 auto;
}
