.LoginPage {}

.LoginPage__signup-button {
  margin-top: 24px;
}

.LoginPage__password-wrapper {
  position: relative;
}

.LoginPage__password__forgot {
  position: absolute;
  top: 40px;
  right: 0px;
  font-size: 13px;
  line-height: 18px;
  color: var(--orange);
  cursor: pointer;
}
