input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

.TextField-helper {
  display: block;
  margin-top: -2px;
  font-size: 12px;
  line-height: 14px;
  color: var(--greyLight1);
  letter-spacing: -0.02px;
  white-space: pre-line;
}

.TextField-helper--invalid {
  color: var(--secondary);
}

.InputField {
  margin-top: -8px;
}

.FileField {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.AuthPage {
  padding: 60px 0;
}

.AuthPage h2 {
  text-align: center;
  margin-bottom: 8px;
}

.AuthPage__logo {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.Title__logo {
  color: var(--primary);
}

.LoginLogo{
    width: 300px;
    height: auto;
}

.AuthPage__paper {
  width: var(--col-4_width);
  max-width: 100%;
  margin: 0 auto;
  padding: 46px 32px 40px;
}

@media (max-width: 768px) {
  .AuthPage__paper {
    padding: 24px 16px;
  }
}

.AuthPage__under-paper-message {
  margin-top: 32px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.twin-fields-row-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .twin-fields-row-wrapper {
    flex-direction: column;
  }
}

.twin-fields-row-wrapper .InputField {
  width: calc(50% - 8px);
}

.twin-fields-row-wrapper--with-auto-complete .InputField + div:not(.InputField--autocomplete) {
  width: calc(50% - 8px) !important;
}

@media (max-width: 768px) {
  .twin-fields-row-wrapper--with-auto-complete .InputField + div:not(.InputField--autocomplete) {
    width: 100% !important;
  }
}

.twin-fields-row-wrapper--with-auto-complete .InputField--autocomplete {
  width: 100% !important;
}

.twin-fields-row-wrapper--with-auto-complete .InputField + div .InputField {
  width: 100%;
}

@media (max-width: 768px) {
  .twin-fields-row-wrapper--with-auto-complete .InputField + div {
    width: 100% !important;
  }

  .twin-fields-row-wrapper .InputField {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .StepLabel:not(.StepLabel--active) .StepLabel__text {
    display: none;
  }
}
