body {
  font-family: 'Roboto', sans-serif;
  text-rendering: auto;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

p,
span {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.06px;
  color: var(--grey);
}

a {
  color: var(--primary);
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: var(--petrol);
}

h2 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.05px;
  color: var(--petrol);
}

h3 {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.05px;
  color: var(--petrol);
}

h4 {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: var(--greyDark1);
}

.caption {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: -0.03px;
  color: var(--grey);
}

h5,
.subheading {
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: var(--greyLight1);
}

.table-content {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  letter-spacing: -0px;
  color: var(--petrol);
}

.table-heading {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  letter-spacing: -0px;
  color: var(--petrol);
}
