:root {
  /* colors */
  --white: #FFFFFF;
  --fog: #F1F3F4;
  --petrol: #515860;
  --primary: #F5C24D;
  --secondary: #E85D63;
  --yellow: #F9CA14;
  --grey: #747980;
  --greyLight1: #979BA0;
  --greyLight2: #D1D1D1;
  --greyLight3: #E8EBED;
  --greyDark1: #444444;
  --green: #6CD379;
  --purple: #8F54A2;
  --blue: #4FA7DD;
  --brown: #E39167;
  --red: #F44336;
  --orange: #FF9800;

  --col-10_width: 970px;
  --col-8_width: 770px;
  --col-6_width: 570px;
  --col-4_width: 370px;

  --z-under-ground: 0;

  --z-ground-1: 1;
  --z-ground-2: 2;
  --z-ground-3: 3;

  --z-mid-1: 5;
  --z-mid-2: 6;
  --z-mid-3: 7;

  --z-top-1: 8;
  --z-top-2: 9;
  --z-top-3: 10;

  --z-over-the-top: 9999;
}
