.footer {
  text-align: center;
  padding: 24px 0px;
}

.footer__text {
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  white-space: pre-wrap;
}

.footer__text a {
  color: var(--grey);
  transition: color 0.25s ease-in-out;
}

.footer__text a:hover {
  color: var(--primary);
}
