.Dashboard_card{
    width: 100%;
    height: 200px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    -moz-box-shadow: 0px 0px 3px 0px #5a5a5a;
	-webkit-box-shadow: 0px 0px 3px 0px #5a5a5a;
	box-shadow: 0px 0px 3px 0px #5a5a5a;
}

.Dashboard_card_header_orange{
    height: 30px;
    width: 100%;
    background-color: var(--primary);
    -webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

.Dashboard_card_header_blue{
    height: 30px;
    width: 100%;
    background-color: var(--blue);
    -webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
    color: white;
    padding-left: 10px;
    padding-top: 5px;
}

@media screen and (min-width: 1200px) {
    .Dashboard_card_body{
        padding: 10px;
        font-size: 22px;
        color: var(--petrol);
        word-wrap: break-word;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .Dashboard_card_body{
        padding: 10px;
        font-size: 20px;
        color: var(--petrol);
        word-wrap: break-word;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .Dashboard_card_body{
        padding: 10px;
        font-size: 16px;
        color: var(--petrol);
        word-wrap: break-word;
    }
}

@media screen and (max-width: 767px) {
    .Dashboard_card_body{
        padding: 10px;
        font-size: 14px;
        color: var(--petrol);
        word-wrap: break-word;
    }
}

.Dashboard_grid_row{
    margin-top: 20px;
}

.Dashboard_main_wrapper{
    margin-top: 100px;
}

.Dashboard_image_label_icon {
  color: var(--primary) !important;
  margin-top: 60px;
  font-size: 60px;
}
